%tr
  %td.text
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :style => "padding: 20px 0px;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "759"}
            %tr
              %td{:background => "/images/member-profile.jpg", :height => "423", :style => "background-repeat:no-repeat;", :valign => "top", :width => "417"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:height => "25"}
                      - form_tag({:action => :create_member}, :html => {:method => :get}) do
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tr
                            %td{:height =>"30"}
                          %tr 
                            %td.text3{:align => "left", :style => "font-size:17px; padding-left:18px;"}
                              MEMBER PROFILE
                              %br/
                              %span.style1 All fields are required.
                          %tr
                            %td{:height => "27"}
                          %tr
                            %td{:align => "left"}
                              = text_field_tag "member[#{@member_count}][email]", @member.email,:id => "member_email", :onblur => "this.value=!this.value?'EMAIL':this.value;", :onclick => "this.value='';", :onfocus => "this.select()", :style => "border:none; width:360px; height:23px;margin-left:30px; background:none;", :type => "text", :value => "Email",:class => 'required text_field'
                          %tr
                            %td{:height => "15"}
                          %tr
                            %td{:align => "left"}
                              = select_tag "member[#{@member_count}][sex]", options_for_select(['Male', 'Female'], @member.sex),:id => "member_sex", :onblur => "this.value=!this.value?'SEX':this.value;", :onfocus => "this.select()", :style => "border:none; width:360px; height:23px;margin-left:30px; background:none;", :type => "text", :value => "SEX", :class => 'required'
                          %tr
                            %td{:height => "15"}
                          %tr
                            %td{:align => "left"}
                              = select_tag "member[#{@member_count}][age]", options_for_select(list_size_group('age'), @member.age),:id => "member_age", :onblur => "this.value=!this.value?'AGE':this.value;", :onfocus => "this.select()", :style => "border:none; width:360px; height:25px;margin-left:30px; background:none;", :type => "text", :value => "AGE", :class => 'required'
                              = hidden_field_tag 'memcount', @member_count
                          %tr
                            %td{:height => "101"}
                          %tr
                            %td{:align => "left", :style => "padding-left:127px;"}
                              - if (@sp.group['size'].to_i - 1) == (@member_count + 1)
                                = submit_tag 'No more members', :id => 'no_more_member_submit', :disabled => true, :class => 'disabled no_more_button'
                              - else
                                = submit_tag 'Continue', :id => 'member_submit', :disabled => true, :class => 'disabled continue_button'
                          %tr
                            %td{:height => "4"}
                          %tr
                            %td{:align => "left", :style => "padding-left:127px;"}
                              = submit_tag 'Back', :id => 'back_member_submit',:class=>'back_button'

